@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body, html, div#root {
    margin: 0;
    padding: 0;

    width: 100%;
    height: auto;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

p {
    font-size: 1rem;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

div.icons {
    position: absolute;
    right: 2em;
    top: 2em;
}
